<style>
  [contenteditable]:empty:after {
    content: attr(placeholder);
    color: #5e5e5e;
  }

  [contenteditable]:focus {
    outline: none;
  }
</style>

<h1
  placeholder="New Note Title"
  id="note-title"
  spellcheck="true"
  contenteditable="true"
  tabindex="1"
  value="{title}"
></h1>
<div
  id="note-text"
  role="textbox"
  aria-multiline="true"
  aria-label="Note content"
  contenteditable="true"
  tabindex="2"
  placeholder="enter note text"
></div>
<button id="save-note-btn" tabindex="3">Save</button>

<script src="./js/app.js" bind></script>

<script>
  setTimeout(() => {
    console.log(this.state);
  }, 5000);
</script>
