<link rel="stylesheet" href="./css/side-nav.css" />

<nav>
  <h1>&lt;Note App/&gt;</h1>
  <button id="add-note-btn" onclick="createNote">Create Note</button>
  <ul>
    {notes}
  </ul>
</nav>

<script type="module">
  import { notesStore } from "../stores/notesStore.js";

  // this.state = { notes: [] };
  // this.renderNotes = () =>
  //   this.state.notes.map((n) => `<li>${n.title}</li>`).join("");

  // const unsubscribe = notesStore.subscribe((s) => {
  //   this.setState({ notes: s.notes });
  // });

  // call unsubscribe() in disconnectedCallback if you need cleanup
</script>
