<link rel="stylesheet" href="./src/css/slideshow.css" />

<div class="slideshow">
  <div class="slides">
    <intro-slide class="slide" data-if="currentSlide === 0"></intro-slide>
    <code-slide class="slide" data-if="currentSlide === 1"></code-slide>
  </div>

  <button class="prev" onclick="prevSlide" aria-label="Previous slide">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <polyline points="15 18 9 12 15 6"></polyline>
    </svg>
  </button>
  <button class="next" onclick="nextSlide" aria-label="Next slide">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
  </button>
</div>

<script type="module">
  import { registerComponents } from "ladrillosjs";
  registerComponents([
    { name: "intro-slide", path: "./src/components/slides/intro-slide.html" },
    { name: "code-slide", path: "./src/components/slides/code-slide.html" },
  ]);
</script>

<script src="./src/js/slide.js" bind></script>
