<style>
  h1 {
    color: #ff3e00;
  }

  h2 {
    color: #1e90ff;
  }

  img {
    border: 2px solid #000;
    border-radius: 8px;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
</style>

<button onclick="handleClick()">{name}</button>
<button onclick="name = 'Daniel'">Change Name</button>
<h1>Hello from {name}!</h1>
<h2>Hello from {name.toUpperCase()}!</h2>
<img src="{src}" alt="{name} logo" width="200"/>
<p>{greet()}</p>

<script>
	let name = 'LadrillosJS';
  const src = "https://raw.githubusercontent.com/drubiodev/LadrillosJS/refs/heads/main/LadrillosJS.jpg"

  function greet() {
    return `Welcome to ${name}!`;
  }

  function handleClick() {
    alert(`Button clicked! Hello, ${name}!`);
  }
</script>